<div class="input-group w-100 mx-auto d-flex">
        <p style="float:left;display:inline-flex">
            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" id="query">
            <span id="btnSearch2" style="border:none">
                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </span>
        </p>
</div>
