
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Success</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

