
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Profile</h1>

<h2>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h2>

<h2>Welcome @Context.User.Identity.Name</h2>
<br />
<a asp-action="Logout" asp-controller="KhachHang">Logout</a>

